*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('football.jpg') center no-repeat;
    background-size: cover;
}

h1{
    -webkit-text-stroke:0.5px white ;
    text-shadow: 2px 2px 5px rgb(99, 96, 96);
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(111, 145, 43);
    padding-bottom: 20px;
}

div{
    min-height: 90vh;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(10px);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 5px 5px 20px white;
    animation: exemple 1s ease-in 0s 1 alternate;
}

@keyframes exemple{
    from{
        transform: scale(0.3);
    }
    to{
        transform: scale(1.0);
    }
}


.input{
    width: 25rem;
    height: 2rem;
    font-size: 17px;
    padding-left: 5px;
}

td{
    height: 3rem;
    padding-right: 20px;
}

.titre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

button{
    padding: 10px 30px;
    border-radius: 10px;
    border:1px solid black;
    font-weight: bold;
    background-color: rgb(111, 145, 43);
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 30px;
    color: white;
}

button:hover{
    background-color: rgb(94, 131, 19);
}

a{
    text-decoration: none;
    color: black;
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 13px;
    border:1px solid black;
    font-weight: bold;
    background-color: rgb(111, 145, 43);
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 30px;
    color: white;
}

a:hover{
    background-color: rgb(94, 131, 19);
}

